body{
    background-image: url("../imagens/fundo.png");
    background-size: cover;
    background-position: 0%;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px;
    text-align: center;
    line-height: 1.6;
    background-color: rgb(0, 255, 200);
    color: #05f1b6;
    font-display: optional;
}

header{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color: rgb(97, 255, 202);
}

nav{
    text-align: center;
    margin: 20px;
}

nav a{
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

main{
    background-color: rgb(129, 0, 168);
    padding: 20px;
    border-radius: 10px;
}

img{
    display: block;
    margin: auto;
    border-radius: 80px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid rgb(31, 248, 255);
}

th, td{
    padding: 10px;
}

footer{
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    color: rgb(255, 0, 0);
    border-radius: 10px;
}

video{
    width:100%;
    max-width:800px;
    border-radius:15px;
    box-shadow:o o 15px #8d0000;

}

.Zak{
    background-color: #218f00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.Kronoz{
    background-color: #5bffd6;
    font-family: Arial, Helvetica, sans-serif;
}

.Loyd{
    background-color: #8d0000;
    font-family: Georgia, 'Times New Roman', Times, serif;}
